.total2 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
}

.calendar-container {
    max-height: 315px;
    width: auto;
    margin: auto;
    border: 1px solid #fffefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: #ecf1f8;
}

.calendar {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 콘텐츠 중앙 정렬 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
    max-width: 400px; /* 최대 너비 설정 */
    max-height: 500px;
    margin: 0 auto; /* 수평 중앙 정렬 */
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .calendar {
        max-width: 300px; /* 화면이 작을 때 더 작은 너비로 설정 */
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .calendar {
        max-width: 250px; /* 아주 작은 화면에 대한 추가적인 최소 너비 설정 */
        margin-left: 5px;
    }
}

.year-month {
    color: #999;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 20px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    color:#0a3d62;
}

.go-today {
    width: 50px;
}

.days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: #999;
    font-weight: 600;
    margin-bottom: 20px;
}

.day {
    width: 50px;
    justify-content: center;
    align-self:center;
    text-align:center;
}

.dates {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-flow: row wrap;
    height: 300px;
}

.date {
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #e98181;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #7493d5;
}

.other {
    opacity: .3;
}

.date:active {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(229, 229, 230, 0.766);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}

.today {
    position: relative;
    color: #4382E0;
    font-weight: bold;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(239, 186, 214, 0.3); /* 투명도를 추가한 배경 색상 */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: ''; /* content 속성 추가 */
}
