footer {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center; /* 내부 요소들을 수평으로 가운데 정렬 */
    align-items: center; /* 내부 요소들을 수직으로 가운데 정렬 */
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer a {
    margin: 0 100px; /* 각 링크 사이의 간격 설정 */
}

footer a img {
    object-fit: cover;
    max-width: 100%; /* 이미지 크기 조정 */
    width: 100px;
    height: 100px;
}
