<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!--풋터 시작-->
<div class="footer-nav">
    <a href="https://www.yanolja.com/">
        <img th:src="@{/img/ya.jpg}" alt="야놀자">
    </a>
    <a href="https://www.socar.kr/">
        <img th:src="@{/img/socar.png}" alt="쏘카">
    </a>
    <a href="https://www.yeogi.com/">
        <img th:src="@{/img/yeogi.png}" alt="여기어때">
    </a>
</div>
<!--풋터 종료-->
</body>
</html>